<div class="col-lg-12">
<div class="navbar navbar-default">
         <div class="navbar-header">
			 <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
  	<li role="presentation"><%= link_to 'HOME', home_path %></li>
  	<li role="presentation"><%= link_to 'ABOUT', about_path %></li>
  	<li role="presentation" class="active"><%= link_to 'BLOG', blog_path %></li>
	<li role="presentation"><%= link_to 'CONTACT', contact_path %></li>
	<li class="divider-vertical"></li>
	</ul>
	<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="I'm looking for...">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> 
	<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Follow me! <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<%= link_to "http://www.facebook.com/marta.szatanke" do %>
			  <%= image_tag "social-icons/1496597149_facebook.svg" %>
			<% end %>

			<%= link_to "http://www.twitter.com/MartaStanke" do %>
			  <%= image_tag "social-icons/1496597158_twitter.svg" %>
			<% end %>

			<%= link_to "http://pl.pinterest.com/martastanke" do %>
			  <%= image_tag "social-icons/1496597162_pinterest.svg" %>
			<% end %>
			  
			<%= link_to "http://www.linkedin.com/in/martastanke/" do %>
			  <%= image_tag "social-icons/1496597198_linkedin.svg" %>
			<% end %>
			  
			<%= link_to "http://www.github.com/marstanke" do %>
			  <%= image_tag "social-icons/1496596551_github.svg" %>
			<% end %>
          </ul>
		</ul>
	</div>
	
 <div class="col-md-12">
        	<h1 class="lead">New article</h1>
        </div>
    <hr>

  	  <div class="container">	
      <div class="row">
        <div class="col-lg-12">
 
<%= form_for :article, url: articles_path do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  
	<div class="col-lg-12">
	<p>
    <%= f.label :title %><br>
    <%= f.text_field :title, size: "100%" %>
  </p>
			</div>
			
			<div class="col-lg-12">
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, size: "100%x10%" %>
  </p>
 
			</div>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', blog_path %>
	
	</div>
		  </div>
	</div>
	

<div class="panel panel-default">
<div class="panel-footer">
	  
	  <p>© <%= Date.today.year %> Marta Stanke</p>
</div>
</div>

	
</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
