<div class="col-lg-12">
	<div class="header">
		<div class="logo"><%= image_tag "cat-logo.svg"%></div>
	</div>
</div>

<div class="col-lg-12">
<div class="navbar navbar-default">
         <div class="navbar-header">
			 <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
  	<li role="presentation"><%= link_to 'HOME', home_path %></li>
  	<li role="presentation"><%= link_to 'ABOUT', about_path %></li>
  	<li role="presentation"><%= link_to 'BLOG', blog_path %></li>
	<li role="presentation" class="active"><%= link_to 'CONTACT', contact_path %></li>
	<a href="<%= messages_path %>"><button type="button" class="btn btn-default navbar-btn">Read Messages</button></a>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Follow me! <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<%= link_to "http://www.facebook.com/marta.szatanke" do %>
            <%= image_tag "social-icons/1498920409_facebook.svg" %>
            <% end %>

            <%= link_to "http://www.twitter.com/MartaStanke" do %>
            <%= image_tag "social-icons/1498920466_twitter.svg" %>
            <% end %>

            <%= link_to "http://pl.pinterest.com/martastanke" do %>
            <%= image_tag "social-icons/1498920405_pinterest.svg" %>
            <% end %>

            <%= link_to "http://www.linkedin.com/in/martastanke/" do %>
            <%= image_tag "social-icons/1498920411_linkedin.svg" %>
            <% end %>
              
            <%= link_to "http://www.github.com/marstanke" do %>
            <%= image_tag "social-icons/1498920397_github.svg" %>
			<% end %>
          </ul>
		</ul>
	</div>
	
	<div class="col-md-12">
        	</div>
    <hr>

<div class="col-lg-12">
	<div class="container">	
      <div class="row">
        <div class="col-lg-8 form-line">
			<div class="category recent-posts">
			<h1>Leave me a message!</h1>
                <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> Please include your email address if you want me to respond. </p>
            </div>
                </div>
                <hr>
                
                <div class="new-message">
                    <%= form_for :message, url: messages_path do |f| %>


                    <div class="col-lg-12">
                        <p>
                        <%= f.label :"email address" %><br>
                        <%= f.text_field :title, size: "100%" %>
                        </p>
                    </div>

                    <div class="col-lg-12">
                      <p>
                        <%= f.label :message %><br>
                        <%= f.text_area :text, size: "100%x10%" %>
                      </p>
                    </div>

                    <%= f.submit 'Send message', :class => 'btn btn-default submit' %>
                    <% end %>
 		
                </div>

		  </div>
		  </div>
        <div class="col-lg-4">
        
        <div class="twitter">
        <a class="twitter-timeline" data-lang="en" data-width="300" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/MartaStanke">Tweets by MartaStanke</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
		<div class="fb-page" data-href="https://www.facebook.com/shesaysSG/" data-tabs="timeline" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shesaysSG/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shesaysSG/">SheSays Singapore</a></blockquote></div>
		  </div>
		  
			</div>
		</div>
	</div>
</div>




<div class="panel panel-default">
  <div class="panel-body">
  </div>
<div class="panel-footer">
	  
	  <p>© <%= Date.today.year %> Marta Stanke</p>
</div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>